<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.sohailpathan.www.counter">

    <application
        android:allowBackup="true"
        android:icon="@drawable/android"
        android:label="AndroidBasics"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"></activity>
        <activity android:name=".CalculateActivity" />
        <activity android:name=".Component" />
        <activity android:name=".DropDownSpinner" />
        <activity
            android:name=".WelcomeActivity"
            android:label="Welcome" />
        <activity android:name=".CA3" />
        <activity android:name=".Addition" />
        <activity android:name=".cutomized_toolbar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CustomToast"></activity>
    </application>

</manifest>